@model astro_db.Models.Misijas

@{
    ViewBag.Title = "Labot";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Misijas</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nosaukums, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nosaukums)
                @Html.ValidationMessageFor(model => model.Nosaukums)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Datums, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Datums)
                @Html.ValidationMessageFor(model => model.Datums)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Valsts, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valsts)
                @Html.ValidationMessageFor(model => model.Valsts)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Merkis, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Merkis)
                @Html.ValidationMessageFor(model => model.Merkis)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rezultats, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Rezultats)
                @Html.ValidationMessageFor(model => model.Rezultats)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apraksts, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apraksts)
                @Html.ValidationMessageFor(model => model.Apraksts)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Saglabāt" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Atpakaļ", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
