@model IEnumerable<astro_db.Models.Lidaparati>

@{
    ViewBag.Title = "Lidaparāti";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Izveidot jaunu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nosaukums)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apraksts)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nosaukums)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apraksts)
        </td>
        <td>
            @Html.ActionLink("Labot", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Apskatīt", "Details", new { id=item.Id }) |
            @Html.ActionLink("Dzēst", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
